$primarycolorblack: #0A0A0A;
$secondarycolorblack: #050505;
$textcolorblack: #575761;
$primarycolorwhite: rgb(231, 237, 234);
$textcolorwhite: #DDD;


$primary-bg: #008080;
$secondary-bg: #A0AEC0;
$accent-limegreen: #A3D900;
$text-dark-blue: #2D2D2D; // Dark Blue







// Background Colors
$bg-primary: #385678; // Deep Blue
$bg-secondary: #7d5d4e; // Warm Brown
$bg-white: #ffffff; // Pure White
$bg-black: #242529; // Pure White
$bg-offwhite: #f9f8f7; // Soft Off-White
$bg-cream: #f2eee9; // Light Cream
$bg-green: #118a09; // green
$bg-red: #d10000; // green
$bg-yellow: #fece08; // green

// Text Colors
$text-dark: #4b4b4b; // Dark Brownish Gray
$text-dark-muted: rgb(114, 114, 114); // Dark Brownish Gray
$text-dark-accent: #272728; // Dark Brownish Gray
$text-white: #f9fafd;

$text-accent: #80654f; // Light Brown
$text-muted: #fcece5; // Soft Brownish White
$text-highlight: #f6ffff; // Bluish White
$text-black: #070707; // Pure Black
$line-grey: #c6c6c6; // Pure Black


//cngguard
$primaryblue: rgb(56, 114, 176); // Primary Blue
$primarygreen: rgb(91, 157, 91); // Primary Blue
$primarytextblack: rgb(50, 48, 48); // Primary Blue


$primarycolorblack: #0A0A0A;
$secondarycolorblack: #050505;
$textcolorblack: #000000;
$primarycolorwhite: #DDD;
// $textcolorwhite: #DDD;
$textcolorwhite: rgb(196, 193, 185);
$textcolorwhitedark: rgb(134, 132, 125);


$textcolorblack: rgb(50, 48, 48); // Primary Blue
$textcolorblackdark: rgb(39, 38, 38); // Primary Blue

